.custom-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .custom-link:hover {
        background-color: #f8f9fa;
        color: #0056b3;
    }