@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-white text-dark p-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>Welcome to Our Website, @ViewBag.UserName </h1>
            <p class="lead">We're glad to have you here. Explore and enjoy our services.</p>
        </div>
    </div>
</div>
