@model OnlineExaminationSystems.UI.Models.ResultViewModel

@{
    ViewData["Title"] = "Result Page";
}

<h1>Result Page</h1>

<p>Correct Answers: @Model.CorrectAnswersCount</p>
<p>Total Questions: @Model.TotalQuestions</p>
<p>Score: @Model.Score</p>
