@model IEnumerable<OnlineExaminationSystems.UI.Models.Lesson.Lesson>

@{
    ViewData["Title"] = "Lessons";
}

<h1>Lessons</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               Lesson @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var lesson in Model) {
        <tr>

            <td>
                <a class="custom-link" href="@Url.Action("Index", "Exam", new { lessonId = lesson.Id })">@lesson.Name</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .custom-link {
        color: #007bff; 
        text-decoration: none;
        font-weight: bold; 
        padding: 5px 10px; 
        border-radius: 5px; 
        transition: background-color 0.3s ease, color 0.3s ease; 
    }

        .custom-link:hover {
            background-color: #f8f9fa; 
            color: #0056b3;
        }
</style>
